.date-time-container {
  white-space: nowrap;
  overflow-x: auto;
}

.year {
  display: inline-block;
  width: 6rem;
  text-align: center;
}

.month,
.date,
.hour,
.minute,
.second {
  display: inline-block;
  width: 4.5rem;
  text-align: center;
}

.unit-year,
.unit-month,
.unit-date,
.unit-hour,
.unit-minute,
.unit-second {
  display: inline-block;
  width: 2.6em;
  text-align: center;
}
