<h2>Index</h2>

<p>Angular で作ったツールやサンプルを公開しています。</p>

<dl>
  <!-- 単品のツール系 -->
  <dt class="h4 font-weight-bold"><a [routerLink]="['/font-family-tester']">Font Family Tester</a></dt>
  <dd>
    <p><code>font-family</code> に指定するフォントを動的に追加・変更・削除してフォントの適用具合を確認できるツールです。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/multiple-diff']">Multiple Diff</a></dt>
  <dd>
    <p>3ファイル以上同時に比較して Diff が確認できます。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/calculator']">Calculator</a></dt>
  <dd>
    <p>入力値を計算します。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/regexp']">RegExp</a></dt>
  <dd>
    <p>正規表現を試せます。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/epoch-time-converter']">Epoch Time Converter</a></dt>
  <dd>
    <p>実時間 (UTC) と UNIX 時間を相互変換します。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/encoder-decoder']">Encoder Decoder</a></dt>
  <dd>
    <p>入力文字列をエンコードしたりデコードしたりします。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/detect-character']">Detect Character</a></dt>
  <dd>
    <p>紛らわしい文字を区別します。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/date-time-countdown']">Date Time Countdown</a></dt>
  <dd>
    <p>現在日時と指定日時を比較してカウントダウン表示します。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/draw-triangle-svg']">Draw Triangle SVG</a></dt>
  <dd>
    <p>三辺の長さを与えると SVG で三角形を描画します。</p>
  </dd>
  <!-- 1モジュールに複数コンポーネント持つツール -->
  <dt class="h4 font-weight-bold">Text Converter</dt>
  <dd>
    <p>テキスト変換系のツールです。</p> 
    <dl>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/text-converter/add-line-number']">Add Line Number</a></dt>
      <dd>
        <p>入力されたテキストに行番号を付与します。</p>
      </dd>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/text-converter/case-converter']">Case Converter</a></dt>
      <dd>
        <p>入力されたテキストを様々なケースに変換します。</p>
      </dd>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/text-converter/normalize-to-nfc']">Normalize To NFC</a></dt>
      <dd>
        <p>いわゆる NFD 文字を NFC に変換します。</p>
      </dd>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/text-converter/shuffle-lines']">Shuffle Lines</a></dt>
      <dd>
        <p>入力されたテキストを行ごとにシャッフルします。</p>
      </dd>
    </dl>
  </dd>
  <dt class="h4 font-weight-bold">Beautifier</dt>
  <dd>
    <p>各種コードを整形するツール群です。</p> 
    <dl>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/beautifier/javascript']">JavaScript Beautifier</a></dt>
      <dd>
        <p>JavaScript コードを整形します。JSON データも整形できます。</p>
      </dd>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/beautifier/html']">HTML Beautifier</a></dt>
      <dd>
        <p>HTML コードを整形します。HTML 中の CSS・JavaScript も整形できます。</p>
      </dd>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/beautifier/css']">CSS Beautifier</a></dt>
      <dd>
        <p>CSS コードを整形します。SCSS コードも整形できます。</p>
      </dd>
    </dl>
  </dd>
  <dt class="h4 font-weight-bold">Colour Converter</dt>
  <dd>
    <p>各種カラーコードを変換するツール群です。</p>
    <dl>
      <dt class="h4 font-weight-bold"><a [routerLink]="['/colour-converter/colour-converter']">Colour Converter</a></dt>
      <dd>
        <p>カラーコードと RGB 値を相互変換します。</p>
      </dd>
    </dl>
  </dd>
  <!-- 単品のサンプル系 -->
  <dt class="h4 font-weight-bold"><a [routerLink]="['/csv-file-to-table']">CSV File To Table</a></dt>
  <dd>
    <p>CSV ファイルを HTML テーブル形式で表示するサンプルです。ファイルのドラッグ &amp; ドロップに対応しています。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/touch-friendly-dnd']">Touch Friendly DnD</a></dt>
  <dd>
    <p>PC でもスマホでも使える <abbr title="Drag &amp; Drop">DnD</abbr> を検証しました。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/dynamic-generate-form']">Dynamic Generate Form</a></dt>
  <dd>
    <p>JSON で定義したモデル情報に基づいてフォームを自動生成します。</p>
  </dd>
  <dt class="h4 font-weight-bold"><a [routerLink]="['/guitar-scale-generator']">Guitar Scale Generator</a></dt>
  <dd>
    <p>ギターのスケール図を生成します。</p>
  </dd>
  <!-- About -->
  <dt class="h4 font-weight-bold">About</dt>
  <dd>
    <p>どうも Neo です。</p>
    <ul>
      <li><a target="_blank" href="https://neos21.net/">Neo's World</a></li>
      <li><a target="_blank" href="https://github.com/Neos21"><i class="fab fa-github" aria-hidden="true"></i> GitHub - Neos21</a></li>
      <li><a target="_blank" href="https://github.com/Neos21/angular-utilities"><i class="fab fa-github" aria-hidden="true"></i> GitHub - Neos21 - angular-utilities</a></li>
    </ul>
  </dd>
</dl>
