<h2>Index</h2>

<p>Angular で作ったツールやサンプルを公開しています。</p>

<dl>
  <dt><a [routerLink]="['/font-family-tester']">Font Family Tester</a></dt>
  <dd>
    <p><code>font-family</code> に指定するフォントを動的に追加・変更・削除してフォントの適用具合を確認できるツール。</p>
  </dd>
  <dt><a [routerLink]="['/csv-file-to-table']">CSV File To Table</a></dt>
  <dd>
    <p>CSV ファイルを HTML テーブル形式で表示するサンプル。ファイルのドラッグ &amp; ドロップに対応。</p>
  </dd>
  <dt><a [routerLink]="['/touch-friendly-dnd']">Touch Friendly DnD</a></dt>
  <dd>
    <p>PC でもスマホでも使える <abbr title="Drag &amp; Drop">DnD</abbr> を検証。</p>
  </dd>
  <dt><a [routerLink]="['/multiple-diff']">Multiple Diff</a></dt>
  <dd>
    <p>3ファイル以上同時に比較して Diff が確認できます。</p>
  </dd>
  <dt><a [routerLink]="['/text-converter/add-line-number']">Add Line Number</a></dt>
  <dd>
    <p>入力されたテキストに行番号を付与します。</p>
  </dd>
  <dt>About</dt>
  <dd>
    <p>どうも Neo です。</p>
    <ul>
      <li><a target="_blank" href="http://neo.s21.xrea.com/">Neo's World</a></li>
      <li><a target="_blank" href="http://neos21.hatenablog.com/">Corredor</a></li>
      <li><a target="_blank" href="http://neos21.hatenablog.jp/">Murga</a></li>
      <li><a target="_blank" href="http://neos21.hateblo.jp/">El Mylar</a></li>
      <li><a target="_blank" href="http://bit-archer.hatenablog.com/">Bit-Archer</a></li>
      <li><a target="_blank" href="https://twitter.com/Neos21"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter - @Neos21</a></li>
      <li><a target="_blank" href="https://github.com/Neos21"><i class="fa fa-github" aria-hidden="true"></i> GitHub - Neos21</a></li>
      <li><a target="_blank" href="https://github.com/Neos21/angular-utilities"><i class="fa fa-github" aria-hidden="true"></i> GitHub - Neos21 - angular-utilities</a></li>
    </ul>
  </dd>
</dl>
