<h2>RegExp</h2>

<p>正規表現による置換を試せます。</p>

<p>
  <textarea class="form-control" [(ngModel)]="inputText" placeholder="置換対象のテキストを入力してください (複数行可)"></textarea>
</p>

<p>
  <input type="text" class="form-control" [(ngModel)]="inputRegExp" placeholder="検索文字列を入力してください (正規表現)">
</p>
<p>
  <input type="text" class="form-control" [(ngModel)]="inputReplace" placeholder="置換文字列を入力してください (空欄可)">
</p>

<p>
  <textarea class="form-control textarea-preview" [value]="output" placeholder="置換文字列が表示されます"></textarea>
</p>
