<h2>Home</h2>

<dl>
  <dt><a [routerLink]="['/font-family-tester']">Font Family Tester</a></dt>
  <dd>
    <p><code>font-family</code> に指定するフォントを動的に追加・変更・削除してフォントの適用具合を確認できるツール。</p>
  </dd>
  <dt>About</dt>
  <dd>
    <p>どうも Neo です。</p>
    <ul>
      <li><a target="_blank" href="http://neo.s21.xrea.com/">Neo's World</a></li>
      <li><a target="_blank" href="http://neos21.hatenablog.com/">Corredor</a></li>
      <li><a target="_blank" href="http://neos21.hatenablog.jp/">Murga</a></li>
      <li><a target="_blank" href="http://neos21.hateblo.jp/">El Mylar</a></li>
      <li><a target="_blank" href="http://bit-archer.hatenablog.com/">Bit-Archer</a></li>
      <li><a target="_blank" href="https://twitter.com/Neos21"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter - @Neos21</a></li>
      <li><a target="_blank" href="https://github.com/Neos21GitHub"><i class="fa fa-github" aria-hidden="true"></i> GitHub - Neos21GitHub</a></li>
      <li><a target="_blank" href="https://github.com/Neos21GitHub/angular-utilities"><i class="fa fa-github" aria-hidden="true"></i> GitHub - Neos21GitHub - angular-utilities</a></li>
    </ul>
  </dd>
</dl>
