<h2>Font Family Tester</h2>

<ul>
  <li>右側の「Fonts Stock」より適用したいフォントを探し、左側の「font-family」にドラッグ &amp; ドロップしてください。下のテキストエリアにフォントが適用されます。</li>
  <li>「font-family」欄内でフォントの適用順を変更できます。どのような <code>font-family</code> が適用されているかは下のコードブロックで確認できます。</li>
  <li><code>"Yu Gothic M"</code> は、<code>@font-face</code> で「Yu Gothic Medium」を指定した Windows 環境向けのフォントです。</li>
</ul>

<pre class="font-family-code">font-family : {{ fontList.join(', ') }} ;</pre>

<p>
  <textarea class="form-control preview"
            placeholder="Please enter the text that you want to check font-family. フォント変更を確認するテキストを入力してください。"
            [ngStyle]="{
              'font-family': fontList.join(', '),
              'font-weight': previewWeight ? 'bold'   : 'normal',
              'font-style' : previewStyle  ? 'italic' : 'normal',
              'font-size'  : previewSize   ? '150%'   : '100%'
            }"></textarea>
</p>

<ul class="list-inline">
  <li><label><input type="checkbox" [(ngModel)]="previewWeight"> 太字</label></li>
  <li><label><input type="checkbox" [(ngModel)]="previewStyle" > 斜体</label></li>
  <li><label><input type="checkbox" [(ngModel)]="previewSize"  > サイズ</label></li>
</ul>

<div class="row">
  <div class="col-xs-6">
    <h3>font-family</h3>
    <div dnd-sortable-container [sortableData]="fontList" [dropZones]="['fonts-zone']" class="list-group-container">
      <ul class="list-group">
        <li *ngFor="let font of fontList; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{ font }}</li>
      </ul>
    </div>
  </div>
  
  <div class="col-xs-6">
    <h3>Fonts Stock</h3>
    
    <accordion>
      <accordion-group heading="sans-serif : ゴシック体" [panelClass]="'panel-primary'" [isOpen]="true">
        <div class="list-group-wrapper">
          <div dnd-sortable-container [sortableData]="stockSansSerif" [dropZones]="['fonts-zone']" class="list-group-container">
            <ul class="list-group">
              <li *ngFor="let font of stockSansSerif; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{ font }}</li>
            </ul>
          </div>
        </div>
      </accordion-group>
      
      <accordion-group heading="serif : 明朝体" [panelClass]="'panel-info'" [isOpen]="false">
        <div class="list-group-wrapper">
          <div dnd-sortable-container [sortableData]="stockSerif" [dropZones]="['fonts-zone']" class="list-group-container">
            <ul class="list-group">
              <li *ngFor="let font of stockSerif; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{ font }}</li>
            </ul>
          </div>
        </div>
      </accordion-group>
      
      <accordion-group heading="monospace : 等幅" [panelClass]="'panel-success'" [isOpen]="false">
        <div class="list-group-wrapper">
          <div dnd-sortable-container [sortableData]="stockMonospace" [dropZones]="['fonts-zone']" class="list-group-container">
            <ul class="list-group">
              <li *ngFor="let font of stockMonospace; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{ font }}</li>
            </ul>
          </div>
        </div>
      </accordion-group>
      
      <accordion-group heading="Original : 独自" [panelClass]="'panel-default'" [isOpen]="true">
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="originalFont">
            <button class="btn btn-default" (click)="addOriginalFont()">Add</button>
          </div>
        </div>
        <div class="list-group-wrapper">
          <div dnd-sortable-container [sortableData]="stockOriginal" [dropZones]="['fonts-zone']" class="list-group-container">
            <ul class="list-group">
              <li *ngFor="let font of stockOriginal; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{ font }}</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
