<h2>Font Family Tester</h2>

<ul>
  <li>右側の「Fonts Stock」よりフォント名をクリックすると、左側の「font-family」に選択したフォントが追加されます。「font-family」欄内で矢印アイコンを使用して適用順を入れ替えられます。</li>
  <li>「font-family」欄に追加したフォントが、下のプレビュー欄に適用されます。どのような <code>font-family</code> になっているかは下のコードブロックで確認できます。</li>
  <li><code>"Yu Gothic M"</code> は、<code>@font-face</code> で「Yu Gothic Medium」を指定した Windows 環境向けのフォントです。</li>
</ul>

<pre class="font-family-code">font-family : {{ getFontList() }} ;</pre>

<p id="preview-wrapper" [ngStyle]="{
  'font-family': getFontList(),
  'font-weight': previewTextSpec.weight ? 'bold'   : 'normal',
  'font-style' : previewTextSpec.italic ? 'italic' : 'normal',
  'font-size'  : previewTextSpec.size   ? '150%'   : '100%'
}">
  <textarea class="form-control preview" placeholder="Please enter the text that you want to check font-family. フォント変更を確認するテキストを入力してください。"></textarea>
</p>

<ul class="list-inline">
  <li><label><input type="checkbox" [(ngModel)]="previewTextSpec.weight"> 太字</label></li>
  <li><label><input type="checkbox" [(ngModel)]="previewTextSpec.italic"> 斜体</label></li>
  <li><label><input type="checkbox" [(ngModel)]="previewTextSpec.size"> サイズ</label></li>
</ul>

<div class="row">
  
  <div class="col-sm-6">
    <h3>font-family</h3>
    <div class="list-group-wrapper">
      <div class="list-group-container">
        <ul class="list-group">
          <li *ngFor="let font of previewFontList; let i = index" class="list-group-item">
            <div class="pull-right">
              <button type="button" class="btn btn-icon btn-icon-info" aria-label="Up" (click)="upFont(i)" [disabled]="i === 0">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-icon btn-icon-warning" aria-label="Down" (click)="downFont(i)" [disabled]="i === previewFontList.length - 1">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-icon btn-icon-danger" aria-label="Remove" (click)="removeFont(i)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
            {{ font.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <h3>Fonts Stock</h3>
    <accordion>
      
      <accordion-group heading="sans-serif : ゴシック体" panelClass="panel-primary" [isOpen]="true">
        <div class="list-group-wrapper">
          <div class="list-group-container">
            <ul class="list-group">
              <ng-container *ngFor="let font of stockFontList; let i = index">
                <ng-container *ngIf="font.type ==='sans-serif'">
                  <li class="list-group-item pointer" (click)="addPreviewFontList(i)">{{ font.name }}</li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </div>
      </accordion-group>
      
      <accordion-group heading="serif : 明朝体" panelClass="panel-info" [isOpen]="false">
        <div class="list-group-wrapper">
          <div class="list-group-container">
            <ul class="list-group">
              <ng-container *ngFor="let font of stockFontList; let i = index">
                <ng-container *ngIf="font.type ==='serif'">
                  <li class="list-group-item pointer" (click)="addPreviewFontList(i)">{{ font.name }}</li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </div>
      </accordion-group>
      
      <accordion-group heading="monospace : 等幅" [panelClass]="'panel-success'" [isOpen]="false">
        <div class="list-group-wrapper">
          <div class="list-group-container">
            <ul class="list-group">
              <ng-container *ngFor="let font of stockFontList; let i = index">
                <ng-container *ngIf="font.type ==='monospace'">
                  <li class="list-group-item pointer" (click)="addPreviewFontList(i)">{{ font.name }}</li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </div>
      </accordion-group>
      
      <accordion-group heading="Original : 独自" [panelClass]="'panel-default'" [isOpen]="true">
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="originalFont">
            <button class="btn btn-default" (click)="addOriginalFont()">Add</button>
          </div>
        </div>
        <div class="list-group-wrapper">
          <div class="list-group-container">
            <ul class="list-group">
              <ng-container *ngFor="let font of stockFontList; let i = index">
                <!-- 用意した区分ではない要素のみ表示させる -->
                <ng-container *ngIf="['sans-serif', 'serif', 'monospace'].indexOf(font.type) < 0">
                  <li class="list-group-item pointer" (click)="addPreviewFontList(i)">{{ font.name }}</li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </div>
      </accordion-group>
      
    </accordion>
  </div>
  
</div>
