// コードプレビューの表示欄
.font-family-code {
  overflow-x: scroll;
  overflow-y: hidden;
}

// フォントプレビュー欄
.preview {
  height: 70px;
}

// Fonts Stock 側の縦スクロール用ラッパー
.list-group-wrapper {
  max-height: 411px;
  overflow-y: scroll;
}

.list-group-container {
  // リストが1つもなくなった時のプレースホルダ用スタイル
  min-height: 42px;
  border-radius: 4px;
  background: #ddd;
  
  // リスト
  .list-group {
    margin: 0;
    background: #fff;
    
    // ドラッグ中の要素
    .dnd-sortable-drag {
      background: #ffc;
    }
  }
}

// 独自追加するフォントの入力欄
.form-inline > .form-group {
  margin-bottom: 0;
  
  .form-control,
  .btn {
    margin-bottom: 10px;
  }
}
