@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_variables';

/* .btn-icon の mixin : .close チックに Glyphicon を組み合わせる想定のボタン用 */
@mixin btn-icon($color: $gray-700) {
  color: $color;
  &:hover {
    color: darken($color, 15%);
  }
}
// ベース
.btn-icon {
  padding: 0;
  border: 0;
  font-size: $font-size-lg;
  line-height: 1;
  vertical-align: initial;  // .btn の middle 指定を解除
  background: transparent;
  @include btn-icon();
}
// ブランドカラー
.btn-icon-primary {
  @include btn-icon($primary);
}
.btn-icon-success {
  @include btn-icon($success);
}
.btn-icon-info {
  @include btn-icon($info);
}
.btn-icon-warning {
  @include btn-icon($warning);
}
.btn-icon-danger {
  @include btn-icon($danger);
}

// フォントプレビュー欄
#preview-wrapper {
  // Stylish プラグインなどを利用していると font-family を上書きできない場合があったので
  // #preview-wrapper にスタイルを当て、「inherit !important」と指定することで対応する
  .preview {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-size: inherit !important;
  }
}

// accordion コンポーネントが出力するパネル
.panel {
  margin-bottom: 1rem;
}

// 縦スクロール用ラッパー
.list-group-wrapper {
  max-height: 401px;
  overflow-y: scroll;
  
  // リストが1つもなくなった時のプレースホルダを持つためのコンテナ
  .list-group-container {
    min-height: 51px;
    border-radius: 4px;
    background: #ddd;
    
    // リスト
    .list-group {
      margin: 0;
      background: #fff;
      
      // リストの1要素
      .list-group-item {
        &:hover {
          background: #eee;
        }
        
        // クリック可能な要素
        &.pointer {
          cursor: pointer;
        }
        
        .pull-right > button:nth-child(2) {
          margin: 0 4px;
        }
      }
    }
  }
}
