<div class="header">
  <button class="hamburger" (click)="toggleMenu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <h1 class="title">
    <a [routerLink]="['/index']">Angular Utilities</a>
  </h1>
  <a class="gh" target="_blank" href="https://github.com/Neos21/angular-utilities" title="View on GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
</div>

<div class="menu">
  <ul>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/index']">Index</a></li>
    <!-- 単品のツール系 -->
    <li [routerLinkActive]="['active']"><a [routerLink]="['/font-family-tester']">Font Family Tester</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/multiple-diff']">Multiple Diff</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator']">Calculator</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/regexp']">RegExp</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/epoch-time-converter']">Epoch Time Converter</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/encoder-decoder']">Encoder Decoder</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/detect-character']">Detect Character</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/date-time-countdown']">Date Time Countdown</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/draw-triangle-svg']">Draw Triangle SVG</a></li>
    <!-- 1モジュールに複数コンポーネント持つツール -->
    <li>
      <span>Text Converter</span>
      <ul>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/text-converter/add-line-number']">Add Line Number</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/text-converter/case-converter']">Case Converter</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/text-converter/normalize-to-nfc']">Normalize To NFC</a></li>
      </ul>
    </li>
    <li>
      <span>Beautifier</span>
      <ul>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/beautifier/javascript']">JavaScript Beautifier</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/beautifier/html']">HTML Beautifier</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/beautifier/css']">CSS Beautifier</a></li>
      </ul>
    </li>
    <li>
      <span>Colour Converter</span>
      <ul>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/colour-converter/colour-converter']">Colour Converter</a></li>
      </ul>
    </li>
    <!-- 単品のサンプル系 -->
    <li [routerLinkActive]="['active']"><a [routerLink]="['/csv-file-to-table']">CSV File To Table</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/touch-friendly-dnd']">Touch Friendly DnD</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/dynamic-generate-form']">Dynamic Generate Form</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/guitar-scale-generator']">Guitar Scale Generator</a></li>
  </ul>
</div>

<div class="contents">
  <router-outlet></router-outlet>
</div>
