<div class="header">
  <button class="hamburger" (click)="toggleMenu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <h1 class="title">
    <a [routerLink]="['/home']">Angular Utilities</a>
  </h1>
  <a class="gh" target="_blank" href="https://github.com/Neos21GitHub/angular-utilities" title="View on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>

<div class="menu">
  <ul>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/font-family-tester']">Font Family Tester</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/coin-hive-manager']">Coin Hive Manager</a></li>
  </ul>
</div>

<div class="contents">
  <router-outlet></router-outlet>
</div>
