<h2>Add Line Number</h2>

<p>入力されたテキストに行番号を付与します。区切り文字や接頭辞・接尾辞なども設定できます。</p>

<div class="row form-group">
  <label class="col-sm-4 col-form-label">行番号の書式 :</label>
  <div class="col-sm-8">
    <div class="form-check form-check-inline">
      <input type="radio" id="options-line-number-style-none"         class="form-check-input" [(ngModel)]="options.lineNumberStyle" name="optionsLineNumberStyle" value="none">        <label class="form-check-label" for="options-line-number-style-none">        整形なし</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" id="options-line-number-style-zero-padding" class="form-check-input" [(ngModel)]="options.lineNumberStyle" name="optionsLineNumberStyle" value="zeroPadding"> <label class="form-check-label" for="options-line-number-style-zero-padding">0 パディング</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" id="options-line-number-style-align-right"  class="form-check-input" [(ngModel)]="options.lineNumberStyle" name="optionsLineNumberStyle" value="alignRight">  <label class="form-check-label" for="options-line-number-style-align-right"> 右寄せ</label>
    </div>
  </div>
</div>
<div class="row form-group">
  <label class="col-sm-4 col-form-label">接頭辞 :</label>
  <div class="col-sm-8"><input type="text" class="form-control" [(ngModel)]="options.prefix"></div>
</div>
<div class="row form-group">
  <label class="col-sm-4 col-form-label">デリミタ :</label>
  <div class="col-sm-8"><input type="text" class="form-control" [(ngModel)]="options.delimiter"></div>
</div>
<div class="row form-group">
  <label class="col-sm-4 col-form-label">接尾辞 :</label>
  <div class="col-sm-8"><input type="text" class="form-control" [(ngModel)]="options.suffix"></div>
</div>
<div class="row form-group">
  <label class="col-sm-4 col-form-label">行番号の出力位置 :</label>
  <div class="col-sm-8">
    <div class="form-check form-check-inline">
      <input type="radio" id="options-line-number-position-before-src" [(ngModel)]="options.lineNumberPosition" name="optionsLineNumberPosition" value="beforeSrc"> <label class="form-check-label" for="options-line-number-position-before-src">入力値の前</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" id="options-line-number-position-after-src"  [(ngModel)]="options.lineNumberPosition" name="optionsLineNumberPosition" value="afterSrc">  <label class="form-check-label" for="options-line-number-position-after-src"> 入力値の後</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" id="options-line-number-position-none"       [(ngModel)]="options.lineNumberPosition" name="optionsLineNumberPosition" value="none">      <label class="form-check-label" for="options-line-number-position-none">      出力しない</label>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-6">
    <textarea class="form-control textarea" [(ngModel)]="src" placeholder="テキストを入力してください"></textarea>
  </div>
  <div class="col-sm-6">
    <textarea class="form-control textarea textarea-preview" [value]="dest" readonly placeholder="変換後テキスト"></textarea>
  </div>
</div>
