.item-droppable {
  margin: 1rem 0;
  border: 1px solid #00f;
  padding: 1rem;
  
  
  // ドラッグ前
  &:not(.gu-over) {
    .item-draggable:hover {
      border-color: #f00;
      cursor: grab;
    }
    .item-draggable:active {
      border-color: #f0f;
      cursor: grabbing;
    }
  }
  
  // ドラッグ中
  &.gu-over {
    color: blue;
  }
}

// 単体でスタイルを効かせるためネストしない
.item-draggable {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  
  &.gu-transit {
    color: red;
  }
}
