// ドロップ領域
.item-droppable {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  // ドラッグ前
  &:not(.gu-over) {
    .item-draggable:hover {
      border-color: #f09;
      cursor: grab;
    }
    
    .item-draggable:active {
      border-color: #08f;
      cursor: grabbing;
    }
  }
  
  // ドラッグ中の重ねられている要素
  &.gu-over {
    color: #08f;
  }
}

// 単体でスタイルを効かせるためネストしない
.item-draggable {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  
  // ドラッグ中のマウスに追随する要素
  &.gu-mirror {
    color: #fff;
    background: #f09;
  }
  
  // ドラッグされている元要素
  &.gu-transit {
    background: #ffc;
  }
}
