<h2>Dynamic Generate Form</h2>

<p>左の JSON データを編集し、「フォーム生成」ボタンを押下すると、その JSON データを基に ReactiveForms を生成します。「フォームデータ確認」ボタンを押すとフォームの値を確認できます。</p>

<div class="row">
  <div class="col-sm-6">
    <p><textarea class="form-control" [(ngModel)]="model" placeholder="モデルを JSON 形式で定義してください"></textarea></p>
    <div class="text-right"><button type="button" class="btn btn-success" (click)="onGenerateForm()">フォーム生成</button></div>
  </div>
  <div class="col-sm-6">
    <p><textarea class="form-control textarea-preview" [value]="preview" placeholder="フォームデータを表示します" readonly></textarea></p>
    <div class="text-right"><button type="button" class="btn btn-info" (click)="onPreview()">フォームデータ確認</button></div>
  </div>
</div>

<form [formGroup]="dynamicForm" *ngIf="dynamicFormModel && dynamicFormModel.controls">
  <h3>{{ dynamicFormModel.label }} Form</h3>
  <div class="form-group" *ngFor="let control of dynamicFormModel.controls">
    
    <div *ngIf="control.type === 'textbox'">
      <div>Textbox : {{ control.label }}</div>
      <input type="text" [formControlName]="control.name" [placeholder]="control.placeholder || ''" class="form-control">
    </div>
    
    <div *ngIf="control.type === 'radio'">
      <div>Radio : {{ control.label }}</div>
      <div *ngFor="let option of control.options" class="form-check">
        <label><input type="radio" [formControlName]="control.name" [value]="option.value" [checked]="option.checked" [attr.disabled]="option.disabled" class="form-check-input"> {{ option.label }}</label>
      </div>
    </div>
    
    <div *ngIf="control.type === 'checkbox'">
      <div>Checkbox : {{ control.label }}</div>
      <div *ngFor="let checkboxControl of dynamicForm.controls[control.name].controls; let i = index" class="form-check">
        <label><input type="checkbox" [formControl]="checkboxControl" class="form-check-input"> {{ control.options[i].label }}</label>
      </div>
    </div>
    
    <div *ngIf="control.type === 'selectbox'">
      <div>Selectbox : {{ control.label }}</div>
      <select [formControlName]="control.name" [multiple]="control.multiple" [size]="control.multiple ? 5 : 1" [attr.disabled]="control.disabled" class="custom-select">
        <option *ngFor="let option of control.options" [value]="option.value" [selected]="option.disabled" [attr.disabled]="option.disabled">{{ option.label }}</option>
      </select>
    </div>
    
    <div *ngIf="control.type === 'textarea'">
      <div>Textarea : {{ control.label }}</div>
      <textarea [formControlName]="control.name" [placeholder]="control.placeholder || ''" [attr.disabled]="control.disabled" class="form-control"></textarea>
    </div>
    
  </div>
</form>
