// Font-Face
// --------------------------------------------------------------------------------

// Windows 用 Medium 指定の游ゴシック
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium");
}

// 太字の時は通常どおり Bold 書体を使わせる
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}


// Bootstrap-Sass
// --------------------------------------------------------------------------------

// 行間を広めに
$line-height-lg  : 1.6;
$line-height-sm  : 1.6;
$line-height-base: 1.6;

// ゴシック体
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Segoe UI", Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// 等幅
$font-family-monospace: MeiryoKe_Gothic, "Ricty Diminished", "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", monospace;
// 明朝体 (独自変数)
$font-family-serif: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;

// Bootstrap-Sass を読み込む
@import '~bootstrap/scss/bootstrap';

// 各フォント用クラス
.font-family-sans-serif { font-family: $font-family-sans-serif; }
.font-family-serif      { font-family: $font-family-serif     ; }
.font-family-monospace  { font-family: $font-family-monospace ; }


// Bootstrap3 Glyphicons
// --------------------------------------------------------------------------------

// フォントファイルのパスを修正する
$icon-font-path: '~@neos21/bootstrap3-glyphicons/assets/fonts/';

// Bootstrap3 Glyphicons を読み込む
@import '~@neos21/bootstrap3-glyphicons';


// Font-Awesome
// --------------------------------------------------------------------------------

// フォントファイルのパスを修正する
$fa-font-path: '~font-awesome/fonts';

// Font-Awesome を読み込む
@import '~font-awesome/scss/font-awesome';


// Dragula (@swimlane/ngx-dnd)
// --------------------------------------------------------------------------------

// Mirror of Dragging Item
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: .8;
}

// Necessary to Grab
.gu-hide {
  display: none !important;
}

// body : Disable text selection
.gu-unselectable {
  user-select: none !important;
  cursor: grabbing;  // ドラッグ中のカーソル状態
}

// Selected Item
.gu-transit {
  opacity: .5;
}


// Page
// --------------------------------------------------------------------------------

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;  // 縦スクロールバーを常に表示する
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;  // スマホ向け慣性スクロール
}

body {
  width: 100%;
  height: 100%;
  word-wrap: break-word;  // 折り返させる
  cursor: default;
}

table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  
  td {
    vertical-align: top;
  }
}

dl {
  margin-top: 20px;
  
  dt {
    margin-bottom: 5px;
  }
  
  dd {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

dfn {
  font-style: normal;
  text-decoration: underline dotted;
  
  &[title]:hover::after {
    content: " (" attr(title) ") ";
  }
  
  @include media-breakpoint-down(xs) {
    &::after {
      content: " (" attr(title) ") ";
    }
  }
}

input, textarea, pre, code, kbd, samp, var {
  font-family: $font-family-monospace;
}

textarea {
  min-height: 2.5em;
  white-space: pre;
  word-wrap: normal;  // Edge でコレがないと折り返される
  resize: vertical;
}


// Custom Classes
// --------------------------------------------------------------------------------

// 背景色を暗くしない
textarea.form-control[readonly].textarea-preview,
input[readonly].textbox-preview {
  background: $white;
}

.pointer {
  cursor: pointer;
}