<h2>Colour Converter</h2>

<p>カラーコードと RGB 値を相互変換します。拙作の <a href="https://github.com/Neos21/ccc" target="_blank"><code>@neos21/ccc</code></a> を利用しています。</p>

<form [formGroup]="colourForm">
  <div class="row">
    <div class="col-sm-6">
      <h3>Colour Code</h3>
      <p>
        <input type="text" formControlName="colourCode" class="form-control" [ngClass]="{ 'is-invalid': colourForm.get('colourCode').invalid }" placeholder="ex. #ff00ff or #f0f" (focus)="onFocus('colourCode')" (blur)="onBlur()">
      </p>
      <h3>Result</h3>
      <p>
        <input type="text" class="form-control textbox-preview result" [ngStyle]="{ 'background-color': result }" [value]="result === 'transparent' ? 'Transparent': result" disabled>
      </p>
    </div>
    <div class="col-sm-6">
      <h3>RGB</h3>
      <div class="row form-group">
        <label class="col-sm-5 col-form-label">Red</label>
        <div class="col-sm-7">
          <input type="number" formControlName="red"   class="form-control" [ngClass]="{ 'is-invalid': colourForm.get('red').invalid }"   placeholder="Red Colour : 0 to 255"   min="0" max="255" (focus)="onFocus('red')"   (blur)="onBlur()">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 col-form-label">Green</label>
        <div class="col-sm-7">
          <input type="number" formControlName="green" class="form-control" [ngClass]="{ 'is-invalid': colourForm.get('green').invalid }" placeholder="Green Colour : 0 to 255" min="0" max="255" (focus)="onFocus('green')" (blur)="onBlur()">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-5 col-form-label">Blue</label>
        <div class="col-sm-7">
          <input type="number" formControlName="blue"  class="form-control" [ngClass]="{ 'is-invalid': colourForm.get('blue').invalid }"  placeholder="Blue Colour : 0 to 255"  min="0" max="255" (focus)="onFocus('blue')"  (blur)="onBlur()">
        </div>
      </div>
    </div>
  </div>
</form>
